@charset "UTF-8";
body {
  margin: 0; }

@font-face {
  font-family: Jost-Medium;
  src: url("../files/fonts/Jost-Medium.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: block; }
@font-face {
  font-family: Jost-ExtraLight;
  src: url("../files/fonts/Jost-ExtraLight.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: block; }
/* ------ переменные ------ */
/* ------ mixin для трансформирования ------ */
/* ------ свойства ------ */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s ease;
  z-index: 9999;
  background: linear-gradient(#000000, #000008); }
  .preloader__circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.789);
    animation: preloader 0.5s infinite linear; }
  .preloader__gif {
    width: 50px;
    height: 50px;
    image-rendering: pixelated;
    animation: preloader 0.5s infinite linear reverse;
    opacity: 0; }
  .preloader--loaded {
    opacity: 0;
    z-index: -999; }

/* ------ анимация ------ */
@keyframes preloader {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }
body {
  background: linear-gradient(-45deg, #0c1315, black);
  /* ------ body container to smooth scrolling ------ */ }
  body__container {
    padding: 0;
    will-change: transform; }

.main {
  height: 100vh;
  /* ------ parallax layers ------ */ }
  .mainWrapper {
    padding: 0 20%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap; }
  .main__text {
    min-width: calc(min(20vw, 20vh));
    order: 1;
    padding: 7% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    pointer-events: none;
    user-select: none; }
    .main__text > h1 {
      margin: 0;
      font-family: Jost-Medium;
      font-size: 400%;
      color: #e9e9e9; }
    .main__text > p {
      font-size: 150%;
      font-weight: 900;
      font-family: Jost-ExtraLight;
      color: #949494; }
  .main .layers {
    order: 2;
    border-radius: 50%;
    min-width: calc(min(80vw, 80vh));
    min-height: calc(min(80vw, 80vh));
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .layers .layer {
      min-width: calc(min(80vw, 80vh));
      min-height: calc(min(80vw, 80vh));
      position: absolute; }
    .main .layers__base, .main .layers__middle, .main .layers__front {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.75s cubic-bezier(0.075, 0.05, 0, 1); }
    .main .layers__base {
      padding: calc(max(13vw, 13vh));
      transform: translate3d(calc(var(--mouseX) / 16), calc(var(--scrollTop) / 2 + var(--mouseY) / 16), 0); }
    .main .layers__middle {
      transform: translate3d(calc(var(--mouseX) / 24), calc(var(--scrollTop) / 2.5 + var(--mouseY) / 24), 0); }
    .main .layers__front {
      padding-top: 60%;
      transform: translate3d(calc(var(--mouseX) / 22), calc(var(--scrollTop) / 5 + var(--mouseY) / 22), 0); }

.header {
  user-select: none;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100vw;
  height: 80px;
  /* ------ logo ------ */
  /* ------ right part ------ */ }
  .headerWrapper {
    padding: 25px 10vw;
    display: inherit;
    justify-content: space-between;
    width: 80vw; }
  .header__left {
    display: flex;
    align-items: center;
    height: 40px; }
    .header__left > a {
      display: flex;
      align-items: center;
      height: fit-content; }
  .header__img {
    height: 36px;
    transition: .5s; }
    .header__img:hover {
      opacity: .5;
      transition: .5s; }
  .header__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Jost-Medium;
    font-weight: bold;
    height: 40px;
    width: 170px; }
    .header__right > .email_me__btn {
      display: flex;
      align-items: center;
      padding: 5% 10%;
      color: #009751;
      border: solid 3px;
      border-color: #004923;
      border-radius: 5%;
      background-color: #0d0d0d;
      transition: .4s; }
      .header__right > .email_me__btn:hover {
        color: #02dd77;
        border-color: #007a3b; }
    .header__right > .change_language__btn {
      color: white;
      display: flex;
      align-items: center;
      height: 40px; }
      .header__right > .change_language__btn > span {
        padding: 0 8%; }

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(min(10vw, 10vh)); }
  .projects__element {
    position: relative;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    overflow: hidden; }
    .projects__element:hover {
      transform: scale(1.2, 1.2); }
      .projects__element:hover object {
        display: inherit; }
    .projects__element > a {
      height: 100%; }
    .projects__element object {
      transition: .3s;
      display: none;
      animation-play-state: paused;
      pointer-events: none;
      height: 100%; }

.projectWrapper {
  position: relative;
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 20vw;
  padding: 4% 2%; }
  .projectWrapper > span {
    top: -5%;
    color: white;
    font-family: Jost-Medium;
    font-size: 100%;
    position: absolute; }

/*# sourceMappingURL=style.css.map */
