.about
{
    // border: solid 4px #bbbbbb;
    border-radius: 20px;
    font-size: 120%;
    font-family: Jost-Medium;
    line-height: 1.6;
    // color: rgb(1, 220, 121);
    color: rgb(1, 195, 220);
    transition: .3s;
    background-color: #1a1a1a;
    width: 80vw;
    max-width: 1024px;

    &Wrapper
    {
        padding: 0 0 100px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__text
    {
        padding: 5%;
    }

    &:hover {
        opacity: .8;
    }
}