
/* ------ для адаптива ------ */
$minHeight: 5vh;
$minWidth: 5vw;

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: calc(min(90vw, 90vh));
    min-height: $minHeight;

    /* ------ logo ------ */
    &__img
    {
        height: calc(min(#{$minHeight}, #{$minWidth}));
        transition: .5s;

        &:hover 
        {
            opacity: .5;
            transition: .5s;
        }
    }
    
    /* ------ button ------ */
    &__menuButton
    {
        position: relative;
        height: calc(min(#{$minHeight}, #{$minWidth}));
        display: inherit;
        align-items: center;
        
        /* ------ button lines ------ */
        & > span
        {
            margin-top: 25%;
            display: block;
            height: calc(min(#{$minHeight}, #{$minWidth}) / 15);
            width: calc(min(#{$minHeight}, #{$minWidth}) / 4 * 3);
            background-color: white;

            &::before
            {
                display: block;
                content: '';
                position: absolute;
                height: inherit;
                width: inherit;
                background-color: white;
            }

            &::before
            {
                top: 27%;
            }
        }
    }

    &Wrapper
    {
        display: inherit;
        justify-content: space-between;
        padding: 5vh 10vw;
        width: 80vw;
    }
}

/* ----- для мобильных устройств --- */
@media screen and (max-width: 500px), (max-height: 500px)
{
    $minHeight: 10vh;
    $minWidth: 10vw;

    .header
    {
        min-height: $minHeight;

        /* ------ logo ------ */
        &__img
        {
            height: calc(min(#{$minHeight}, #{$minWidth}));
        }
        
        /* ------ button ------ */
        &__menuButton
        {
            height: calc(min(#{$minHeight}, #{$minWidth}));

            /* ------ button lines ------ */
            & > span
            {
                height: calc(min(#{$minHeight}, #{$minWidth}) / 15);
                width: calc(min(#{$minHeight}, #{$minWidth}) / 4 * 3);
            }
        }
    }
}