.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: calc(min(90vw, 90vh));
    min-height: 5vh;

    /* ------ logo ------ */
    &__img
    {
        height: calc(min(5vh, 5vw));
        transition: .5s;

        &:hover 
        {
            opacity: .5;
            transition: .5s;
        }
    }
    
    /* ------ button ------ */
    &__menuButton
    {
        position: relative;
        height: calc(min(5vh, 5vw));
        display: inherit;
        align-items: center;
        
        /* ------ button lines ------ */
        & > span
        {
            display: block;
            height: calc(min(5vh, 5vw) / 15);
            width: calc(min(5vh, 5vw) / 4 * 3);
            background-color: white;

            &::before
            {
                display: block;
                content: '';
                position: absolute;
                height: inherit;
                width: inherit;
                background-color: white;
            }

            &::before
            {
                top: 25%;
            }
        }
    }

    

    &Wrapper
    {
        display: inherit;
        justify-content: space-between;
        padding: 5vh 10vw;
        width: 80vw;
    }
}