@import 'main/intro';
$preloaderWidthHeight: 75px;
.preloader {
    transition: 1s ease;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#ffffff, #ffffff);
    &__circle {
        width: $preloaderWidthHeight + $preloaderWidthHeight / 3;
        height: $preloaderWidthHeight + $preloaderWidthHeight / 3;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(2, 9, 17, 0.789);
        animation: preloader .5s infinite linear;
    }
    &__gif {
        width: $preloaderWidthHeight;
        height: $preloaderWidthHeight;
        image-rendering: pixelated;
        animation: preloader .5s infinite linear reverse;
        opacity: 0;
    }
    &--loaded {
        opacity: 0;
        z-index: -999;
    }
}

@keyframes preloader {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}