.projects
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding: calc(min(10vw, 10vh));

    &__element
    {
        position: relative;
        height: inherit;
        width: inherit;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        overflow: hidden;

        &:hover
        {
            & object
            {
                display: inherit;
            }
            transform: scale(1.2, 1.2);
        }

        & > a {
            height: 100%;
        }

        & object
        {
            transition: .3s;
            display: none;
            animation-play-state: paused;
            pointer-events: none;
            height: 100%;
        }
    }
}

.project
{
    &Wrapper
    {
        position: relative;
        display: inherit;
        justify-content: center;
        align-items: center;
        height: 30vw;
        width: 20vw;
        padding: 4% 2%;

        & > span
        {
            top: -5%;
            color: white;
            font-family: Jost-Medium;
            font-size: 100%;
            position: absolute;
        }
    }
}