.projects
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    font-family: Jost-Medium;
    font-size: 200%;
    color: rgb(242, 242, 242);
    padding: 30px;

    & > h2
    {
        text-align: center;
        padding-bottom: 30px;
    }

    &__container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &Wrapper
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.project
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    width: 200px;
    border: solid 4px #e0e0e0;
    border-radius: 20px;
    overflow: hidden;

    &Wrapper
    {
        padding: 20px;
    }

    & > img
    {
        height: 300px;
        pointer-events: none;
    }
}