$colorBlack: #111;
$heightMenu: 50px;
$widthMobileButton: $heightMenu / 2;
$heightMobileButtonLines: 2px;
$heightUnderline: 2px;
$mediaDesktopXXL: 1400px;
$mediaDesktopXL: 1200px;
$mediaDesktopLG: 992px;
$mediaDesktopMD: 768px;
$mediaDesktopSM: 576px;
$preloaderWidthHeight: 50px;