@import 'fonts';
a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
    height: 100vh;
    .mainPage {
        position: relative;
        font-family: Lato-Black Arial;
        display: inherit;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: 30%;
        background-color: rgb(232, 49, 49);
        &__title {
            font-family: inherit;
            font-size: 36px;
            width: min-content;
        }
        &__description {
            font-family: inherit;
            font-size: 24px;
        }
        &__alternativeLink {
            margin: 2%;
            font-size: 16px;
            font-family: inherit;
        }
        &__button {
            width: 90%;
            height: 5%;
        }
        &__logo {
            position: relative;
            width: 50%;
            height: 50%;
        }
    }
}