@import 'fonts';
body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
    height: 100vh;
    .mainPage {
        display: inherit;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        background-color: rgb(247, 255, 212);
        &__title {
            font-family: Lato-Black Arial;
            font-size: 36px;
            width: min-content;
        }
    }
}