body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    background: linear-gradient(-45deg, #0c1315, black);
}

.main
{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    width: 100%;

    &Wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        max-width: 1024px;
    }

    &__text
    {   
        display: flex;
        flex-direction: column;
        pointer-events: none;
        padding: 100px 0 0 0;

        & > h1
        {
            margin: 0;
            font-family: Jost-Medium;
            font-size: 400%;
            color: #e9e9e9;
        }

        & > p
        {
            margin: 10px 0 0 0;
            font-size: 160%;
            font-family: Jost-ExtraLight;
            color: #949494;
        }

        & > .codewars_link
        {
            margin: 20px 0 0 0;
            pointer-events: painted;
        }
    }

    &__logo_links
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        
        & > a
        {
            pointer-events: painted;
            padding: 6px 14px 6px 0;
            transition: .2s;
            
            &:hover
            {
                opacity: .6;
            }
        }
    }

    /* ------ parallax layers ------ */
    & .layers
    {
        border-radius: 20%;
        min-width: 400px;
        min-height: 400px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &Wrapper
        {
            padding: 30px;
        }

        & .layer
        {
            min-width: inherit;
            min-height: inherit;
            position: absolute;
        }


        &__base, &__middle, &__front
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transition: .75s cubic-bezier(.075, .05, 0, 1);
        }

        &__base
        {
            padding: 100px;
            transform: translate3d(
                calc(var(--mouseX) / 16),                              // Ox
                calc(var(--scrollTop) / 2 + var(--mouseY) / 16),       // Oy
                0                                                      // Oy
            );
        }

        &__middle
        {
            transform: translate3d(
                calc(var(--mouseX) / 24),
                calc(var(--scrollTop) / 2.5 + var(--mouseY) / 24),
                0
            );
        }

        &__front
        {
            padding: 60% 20px 20px 20px;
            transform: translate3d(
                calc(var(--mouseX) / 22),
                calc(var(--scrollTop) / 5 + var(--mouseY) / 22),
                0
            );
        }
    }
}

/* ------ под мобильные экраны ------ */
@media (max-width: 935px) {
    .main
    {
        padding: 120px 0;

        &Wrapper
        {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__text
        {
            font-size: 2.5vw;
            order: 2;
            padding: 40px 0 20px 0;

            & > .codewars_link
            {
                text-align: center;
            }

            & > p
            {
                text-align: center;
            }

            & > img
            {
                width: 80%;
            }
        }

        & .layers
        {
            min-width: 80vw;
            min-height: 80vw;
            order: 1;
        }


        &__logo_links
        {
            display: none;
        }
    }
}